* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'arial';
  font-size: 20px;
  font-weight: 300;
  }
  .navbar {
    display: flex;
  }

  .navlinks{
    width: 100px;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 5px #a5a5a5, inset -5px -5px 10px #fff;
    padding: 18px;
    position: relative;
    z-index: 1;
    transition: 0.3s all;
    font-size: 70%;
    text-shadow: 1px 1px 1px #cdb2a1;
    color: #6d6d6d;
    letter-spacing: 0.5px;
    color: #983F40;
  }

  .employeeSelector{
    padding: 18px;
    position: relative;
    z-index: 1;
    transition: 0.3s all;
    font-size: 70%;
    text-shadow: 1px 1px 1px #cdb2a1;
    color: #6d6d6d;
    letter-spacing: 0.5px;
    color: #983F40;
  }


  .main__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'arial';
    font-size: 30px;
    font-weight: 100;
    word-spacing: 2em;
    
  }
