





  .main__table {
   display:block;
   box-sizing: border-box;
    
  }
  .navbar {
    display: flex;
  }

  .navlinks{
    width: 100px;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 5px #a5a5a5, inset -5px -5px 10px #fff;
    padding: 18px;
    position: relative;
    z-index: 1;
    transition: 0.3s all;
    font-size: 70%;
    text-shadow: 1px 1px 1px #cdb2a1;
    color: #6d6d6d;
    letter-spacing: 0.5px;
    color: #983F40;
  }

  .employeeSelector{
    padding: 18px;
    position: relative;
    z-index: 1;
    transition: 0.3s all;
    font-size: 70%;
    text-shadow: 1px 1px 1px #cdb2a1;
    color: #6d6d6d;
    letter-spacing: 0.5px;
    color: #983F40;
  }

